/* general */
@import url("https://fonts.cdnfonts.com/css/dana");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'dana', sans-serif;
  /* just for a */
  text-decoration: none;
  /* cursor: none; */
}

:root {
  --primary--color--: #D31F25;
  --secondary--color--: #8E8E8E;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--primary--color--);
  border: none;
  border-radius: 30px;
  transition: 0.6s;
}

.nav-link.active {
  color: var(--primary--color--);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  cursor: pointer;
}

/* remove default scrollvar */
::-webkit-scrollbar {
  width: 0;
}

html {
  scrollbar-width: none;
}

/* style horizontal scrollbar */
.scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg,
      #2563eb,
      #06b6d4,
      #22c55e);
  z-index: 9999;
  box-shadow: 0 0 10px rgba(37, 99, 235, .5);
}

/* sticky nav*/
/* header {
  position: relative;
}

.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100% !important;
  z-index: 55;
  margin: 0;
  background: rgba(31, 34, 228, 0.521);
  backdrop-filter: blur(15px);
} */

/* hover on nav links */
/* .navbar ul li a {
  transition: opacity 0.6s;
} */


/* mouse cursor */
/* .cursor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1.9px solid var(--primary--color--);
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
} */

/* hover on links and ... */
/* .cursor-container.active {
  width: 55px;
  height: 55px;
}

.cursor {
  width: 12px;
  height: 12px;
  background-color: #06b6d4;
  border: none;
  border-radius: 100%;
  pointer-events: none;
  z-index: 9999;
}
 */


/* top header */

header {
  padding: 15px 30px 0px;
}

.top-header-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  padding: 13px 0px 22px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1.5px solid #dfdbdb;
}

.top-header-logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
  max-width: 150px;
}

.top-header-logo img {
  width: 100%;
}

.top-header-searchbar {
  position: relative;
  width: 30%;
  min-width: 285px;
}

.top-header-searchbar form {
  width: 100%;
}

.top-header-searchbar input {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  background-color: #e3ecee8a;
  border: none;
  outline: none;
  padding: 12px 13px 10px;
}

.top-header-searchbar button {
  display: flex;
  align-items: center;
  /* background-color: white; */
  place-content: center;
  border-radius: 100%;
  border: none;
  padding: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
}

.top-header-searchbar button i {
  color: #2c2e2e;
  background-color: #e3ecee8a;
  border: none;
}

/* @media (max-width:768px) {
  .bottom-heder-searchbar {
    width: 35%;
    margin: 0px;
  }

  .bottom-heder-logo {
    min-width: 100px;
  }

  .bottom-header-first {
    padding: 10px 5px;
    gap: 5px;
  }
} */

.top-header-get-start {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: end;
  width: 28%;
  min-width: 270px;
  gap: 25px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-left: 7px;
  border-left: 1.5px solid var(--secondary--color--);
  /* width: 95%; */
}

.user ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  /* justify-content: space-between; */
  gap: 20px;
  list-style: none;
  width: 100%;
}

.user ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user ul li a {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-size: 16px;
  color: rgb(34, 34, 34);
}

.user ul li a i {
  color: #4d4c4c;
  font-size: 18px;
}

.shop {
  display: flex;
  flex-direction: row;
  /* width: 30%; */
  justify-content: end;
  position: relative;
}

.shop-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  padding: 11px 9px 7px;
  border: none;
  border-radius: 100%;
  background-color: var(--primary--color--);
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
}

.shop-num p {
  font-size: 12px;
}

.shop i {
  font-size: 20px;
}



/* top-header-content-part-2 */
.top-header-content-part-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  /* padding: 0px 30px; */
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 20px;
  margin: 0 auto;
}

.sort button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 12px 20px 11px;
  background-color: var(--primary--color--);
  color: white;
  border: none;
  border-radius: 20px;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
  padding-left: 20px;
  padding-right: 25px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 60px;
}

.navbar ul li a {
  color: rgb(39, 39, 39);
}

@media(max-width:1060px) {
  .navbar ul {
    gap: 40px;
  }
}




/*first-section */
.first-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 0px 30px;
}

.first-section-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 24%;
  min-width: 300px !important;
  background-color: #F5F4F4;
  padding: 17px 20px 17px 30px;
  border-radius: 15px;
  position: relative;
}

.top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
  border-bottom: 1px solid #dbdee6;
}

.top-container h3 {
  color: black;
  font-size: 18px;
}

.top-container i {
  color: var(--primary--color--);
  font-size: 22px;
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  gap: 9px;
  border-bottom: 1px solid #dbdee6;
}

.container-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 7px;
}

.container-title h5 {
  color: black;
  font-size: 16px;
}

.trop {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}

.trop p:nth-child(1) {
  font-size: 14.5px;
  color: var(--secondary--color--);
  font-weight: 600;
}

.trop p:nth-child(2) {
  color: rgba(27, 27, 27, 0.849);
  background-color: #e6e4e4;
  padding: 6px 9px 3px;
  font-size: 13px;
  border: none;
  border-radius: 100%;
}

.brand-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 9px;
  width: 100%;
  border-bottom: 1px solid #dbdee6;
}

.brands {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.brands p:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: white;
  padding: 3px 4px;
  border: 1px solid #dbdee6;
  border-radius: 5px;
  font-size: 10px;
}

.brands p:nth-child(1).active {
  background-color: var(--primary--color--);
}

.brands p:nth-child(2) {
  color: black;
  font-size: 14.5px;
  font-weight: 500;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 3px;
  padding-top: 20px;
}

.price-filter {
  width: 100%;
}

.slider-container {
  position: relative;
  height: 35px;
}

.slider-track,
.slider-range {
  position: absolute;
  top: 15px;
  height: 4px;
  border-radius: 10px;
}

.slider-track {
  width: 100%;
  background: #ddd;
}

.slider-range {
  background: #d60000;
  z-index: 1;
}

input[type="range"] {
  position: absolute;
  width: 100%;
  top: 8px;
  margin: 0;
  appearance: none;
  background: transparent;
  pointer-events: none;
  z-index: 2;
}

/* دایره */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #d60000;
  cursor: pointer;
  pointer-events: auto;
}

.prices {
  display: flex;
  gap: 10px;
  width: 100%;
  padding-bottom: 40px;
}

.prices div {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  background: #fff;
  border: 1px solid #eeeeee;
  border-radius: 12px;
  box-shadow: 0 0px 9px rgba(196, 196, 196, 0.767);
  padding: 7px 15px 6px 17px;
  gap: 3px;
}

.prices span {
  font-size: 12px;
  color: black;
  white-space: nowrap;
}

.prices strong {
  font-size: 12px;
  font-weight: 500;
  color: #333;
  white-space: nowrap;
}

#minPrice {
  z-index: 3;
}

#maxPrice {
  z-index: 4;
}

.save {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-top: 40px;
  position: absolute;
  bottom: 55px;
  right: 20px;
  left: 30px;
}

.save button {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  border: none;
  border-radius: 11px;
  color: black;
  background-color: white;
  font-size: 15px;
  font-weight: 500;
}

.save button:nth-child(1) {
  background-color: var(--primary--color--);
  color: white;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 74%;
  gap: 15px;
  padding-right: 30px;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.order div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.order p {
  color: var(--secondary--color--);
  font-size: 15px;
  font-weight: 500;
}

.dropdown {
  position: relative;
  display: inline-block;
  direction: rtl;
}

.dropdown-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 10px 16px;
  cursor: pointer;
  gap: 4px;
  font-weight: 500;
  color: black;
  font-size: 14px;
}

.dropdown-btn i {
  font-size: 19px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column !important;
  position: absolute;
  top: 110%;
  right: 0;
  width: 100%;
  background: white;
  border: 1px solid #eee;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 10;

  opacity: 0;
  visibility: hidden;
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 12px;
  cursor: pointer;
  color: var(--secondary--color--);
  font-size: 14px;
  font-weight: 500;
}

.item:hover {
  background: #f5f5f5;
  font-size: 14.5px;
  font-weight: 500;
}

.show {
  opacity: 1;
  visibility: visible;
}

.products-container {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 25px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* width: 24%; */
  /* min-height: 170px; */
  border: none;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.363);
  padding: 10px 10px 15px;
  gap: 15px;
  position: relative;
}

.image-container {
  display: flex;
  width: 80%;
}

.image-container img {
  width: 100%;
}

.product-dis {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  align-items: center;
  width: 100%;
}

.product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.product-title h4 {
  text-align: center;
  font-size: 16px;
}

.product-title p {
  color: #686767;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.product-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding: 6px 0px;
}

.product-score i {
  color: #FFC107;
}

.product-score i:first-of-type {
  color: #e6e1e1;
}

.product-score p {
  color: #686767;
  font-size: 14px;
  font-weight: 500;
}

.product-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 2px 0px 20px;
}

.product-price h5 {
  text-align: center;
  font-size: 16px;
  color: var(--primary--color--);
}

.product-price p {
  color: #686767;
  font-size: 14px;
  font-weight: 500;
  text-decoration: line-through;
}

.product-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-select i {
  color: #4d4c4c;
  font-size: 18px;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 0px 10px #adadadb0;
  padding: 10px 12px 9px;
}

.off {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 4px 3px 0px 4px;
  background-color: var(--primary--color--);
  border: none;
  border-radius: 25px;
  color: white;
  position: absolute;
  top: 15px;
  left: 15px;
}

.page-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.next-page,
.x-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: black;
  box-shadow: 0px 0px 7px rgba(158, 158, 158, 0.514);
  border: none;
  border-radius: 100%;
  padding: 5px 10px;
}

.page-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: black;
  border: none;
  border-radius: 100%;
  padding: 6px 14px 2px;
}

.page-number.active {
  background-color: var(--primary--color--);
  color: white;
  font-weight: 500;
}






/* second-section */
.second-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 20px 30px 30px;
}

.second-section-content {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1200px;
  border: 1.5px solid #d8d7d7;
  border-radius: 17px;
  padding: 8px 0px 4px 10px;
  background-color: white;
}

.features-second-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* border-left: 1px solid #E4E9F3; */
  border-radius: 15px;
  padding: 12px 0px 12px 0px;
  /* width: 25%; */
  transition: 0.6s;
}

.icon-box {
  display: flex;
}

.icon-box ul {
  display: flex;
  list-style: none;
  background-color: #eeeeeea9;
  padding: 6px 9px;
  border: none;
  border-radius: 100%;
}

.icon-box ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--primary--color--);
  border: none;
}

.icon-box ul li i {
  font-size: 23px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.features h3 {
  color: black;
  font-size: 16px;
}

.features p {
  font-size: 15px;
  color: var(--secondary--color--);
}

/* footer */
footer {
  padding: 0px 30px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0px 0px 20px #c9c9c9a9;
  border: none;
  border-radius: 20px;
  padding: 30px 0px 15px 0px;
  background-color: rgba(235, 232, 232, 0.6);
}

.logo-icon-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* padding: 10px 0px 15px 0px; */
  width: 27%;
  min-width: 290px;
  border-left: 1.5px solid rgb(216, 215, 215);
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
}

.logo-container img {
  width: 100%;
  max-width: 180px;
}

.logo-container p {
  font-size: 15px;
  color: var(--secondary--color--);
  width: 100%;
  max-width: 245px;
  padding-right: 25px;
}

.footer-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  padding-right: 25px;
  padding-top: 10px;
  width: 100%;
}

.footer-icon-container i {
  font-size: 18px;
  color: black;
  padding: 6px 9px 5px;
  background-color: #eeeeeea9;
  border: none;
  border-radius: 100%;
}

.info-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: start;
  padding: 0px 30px 0px 0px;
}

.contact-fast {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  width: 33%;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  width: 33%;
}

.contact-us {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  width: 33%;
}

.contact-fast div:nth-child(1),
.services div:nth-child(1),
.contact-us div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  color: black;
  font-size: 13px;
}

.contact-fast div:nth-child(2),
.services div:nth-child(2),
.contact-us div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 8px;
}

.contact-fast div a,
.services div a,
.contact-us div a,
.contact-us div p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  color: var(--secondary--color--);
  gap: 5px;
}

.contact-fast div a i,
.services div a i,
.contact-us div a i,
.contact-us div p i {
  padding-bottom: 3px;
  color: var(--primary--color--);
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 30px 0px 20px;
  margin: 0px auto;
  font-size: 14px;
  color: #626464;
}